@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Clean Architecture Demo - Anu Kuusmaa and Andres Käver</p>
    <p>Source code is in <a href="https://github.com/akaver/CleanArchitectureDemo" target="_blank">GitHub</a>!</p>
</div>
